.contact-container {
    width: 80%;
    margin: 50px auto;
}

.contact-box {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    background-color: #1b263b !important;
    box-sizing: border-box;
}

.input-row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.input-group {
    flex-basis: calc(50% - 20px); 
}

/* Input styles*/
input[type="text"], 
input[type="email"] 
{   background-color:  #415a77;
    width: 100%;
    padding: 10px;
    border: none;
    box-sizing: border-box;
}

input::placeholder{
    color: #e0e1dd;
}



textarea {
    width: 98%;
    resize: none;
    padding: 10px;
    border: none;
    background-color:  #415a77;
     
    box-sizing: border-box;
}

textarea::placeholder {
    color: #e0e1dd;
}
/* Button styles*/
button {
    color: #e0e1dd;
    background-color: #778da9;
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.4px;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s ease, transform 0.2s ease;
    margin: 10px auto;
}

/* Hover effect */
button:hover {
    background-color: #415a77;
    transform: translateY(-2px);
}

/* Button style when clicked */
button:active {
    background-color: #0d1b2a;
}

/* Contact text styling */
.contact-text h3 {
    color: #e0e1dd;
    font-weight: 600;
    margin-bottom: 30px;

}







.success-banner {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 15px;
    display: none;
}

#success-banner {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 15px;
    display: none;
}
