.footer {
    background-color: #778da9;
    color: #e0e1dd;
    padding: 10px 0;
    position: relative;   
    left: 0;          
    bottom: 0;       
    width: 100%;       
    text-align: center;
}


